* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Carrois Gothic', sans-serif;
}

.projects {
  height: 100vh;
  background-image: url('../Img/Projects.jpg');
  background-size: cover;
}

.Projectheading {
  font-family: 'Share Tech Mono', monospace;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
}

.projects p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 10px;
  padding-bottom: 5%;
}

.project-content-container {
  margin-bottom: 200px;
  padding-left: 10%;
  padding-bottom: 10%;
}

.Project-card {
  border: 1px solid #7db9f1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(28, 141, 247, 0.904);
  width: 250px; /* Set the width of the card */
  
  
}


.Project-card .text {
  color: #042938;
  font-weight: bold;
  text-align: center;
  font-size: small;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;

}
 
@media (max-width: 768px) {
  .projects {
    height: auto; /* Remove fixed height for smaller screens */
    padding: 20px; /* Add some padding to the section */
  }

  .Projectheading {
    font-size: 36px; /* Reduce font size for smaller screens */
    padding-bottom: 50px; /* Adjust spacing for smaller screens */
  }

  .projects p {
    font-size: 22px; /* Reduce font size for smaller screens */
    padding-bottom: 2%; /* Adjust spacing for smaller screens */
  }

  .project-content-container {
    margin-bottom: 100px; /* Adjust margin for smaller screens */
    padding-left: 20%; /* Adjust padding for smaller screens */
    padding-bottom: 5%; /* Adjust padding for smaller screens */
    
  }

  .Project-card {
    width: 75%; /* Set the width of the card to 100% for smaller screens */
  }

}