*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
    align-content: center;
}



.skills{
    display: flex;
    height: 100vh;
    background-image: url('../Img/Skills.jpg');
    background-size: cover;

}

.skills-content-container{
    min-width: 100vh;
    padding-top: 10%;
}

.skills-heading{
    font-family: 'Share Tech Mono', monospace;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  
}

.skills-content-container p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    
}

video {
  max-width: 80%;
  height: 80%;
  margin-left: 150px;
}

/* Media query for screens with a maximum width of 768px */

  @media (max-width: 768px) {
    .skills {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center elements horizontally */
      text-align: center;
     
    }
  
    .skills-content-container {
      padding-top: 50%; /* Adjust top padding for smaller screens */
      min-width: auto; /* Remove min-width */
    }
  
    video {
      max-width: 100%; /* Make the video 100% width of its container */
      height: auto; /* Reset the height to maintain aspect ratio */
      margin: 0; /* Remove the left margin */
    }
  }



