*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.about{
    height: 100vh;
    background-image: url('../Img/aboutBG.jpg');
    background-size: cover; 
    width: 100%;
    padding: 80px 0;
}
.abt-img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.about-Img{
  padding-left: 150px;
}

.about-content-text {
  text-align: left;
  padding: 20px; /* Adjust the padding as needed */
}


.about-content{
    border: 1px; 
    max-width: 1200px;
    width: 100%;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 25%;  
    padding-right: 20%;
}

.about-Heading{
    font-family: 'Share Tech Mono', monospace;
    font-size: 36px;
    font-weight: bold;
    padding-left: 30%;
    margin-bottom: 100px;
  
}

.about-content-text p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px; /* Adjust the font size as needed */
    line-height: 1.5;
    color:  #042D3F;
}

.bounce-button {
  animation: bounce 2s infinite;
}

.btn-custom-about {
  background-color: #356093;
  border-color: #C6DCF0;
  color: white;
  width: '';
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 15%;

}

.btn-custom-about:hover {
  background-color: #356093;
  border-color:  #C6DCF0;
}

  
@media  (max-width:768px) {
  .about-Img {
    margin-top: 0; /* Reset margin for smaller screens */
  }
  }

