*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.about{
    height: 100vh;
    background-image: url('../Img/aboutBG.jpg');
    background-size: cover; 
    width: 100%;
    padding: 80px 0;
}
.abt-img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  
}
.about-Img{
  padding-left: 150px;
  padding-bottom: 80%;


}

.about-content-text {
  text-align: left;
  padding: 20px; /* Adjust the padding as needed */
}


.about-content{
    border: 1px; 
    max-width: 1200px;
    width: 100%;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 25%;  
    padding-right: 20%;
}

.about-Heading{
    font-family: 'Share Tech Mono', monospace;
    font-size: 36px;
    font-weight: bold;
    padding-left: 930px;
    margin-top: 80px;
    text-align: left;
    
  
}

.about-content-text p{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px; /* Adjust the font size as needed */
    height: 186px;
    margin-bottom: 200px;
    padding-left: 200px;
    color:  #042D3F;
}

.bounce-button {
  animation: bounce 3s infinite;
}

.btn-custom-about {
  background-color: #356093;
  border-color: #C6DCF0;
  color: white;
  width: '';
  border-radius: 20px;
  margin-left: 370px;
  margin-bottom: 100%;;

}

.btn-custom-about:hover {
  background-color: #356093;
  border-color:  #C6DCF0;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-20px);
  }
}

  
@media  (max-width:768px) {
  .about{
    padding: 0;
  }
  
  .about-Heading{
    font-size: 36px;
    text-align: center;
    padding-top: 95px;
    margin-bottom: 40px;
    margin-top: 0px;
    padding-left: 0px;
    height: 46px;
    width: 350px;
    

  }

  .about-Img {
    max-width: 100%;
    padding-left: 65px;
    margin-left: 0px;
    width: 280px;
    padding-bottom: 5%;
  }

  .align-self-center-about{
    padding-right: 0;
    height: 500px;
    margin-right: 0;

  }

  .about-content-text p{
    width: 300px;
    height: 40px;
    padding-left: 0;
    margin-right: 0;
    text-align: center ;
    font-size: 16px;
   
     
  }


  .p.paragraph{
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: 111px;
  
  }

  .bounce-button {
    margin-left: 100px;
    margin-right: 0;
    margin-top: 39px;

  }





}

