* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
  }
  
  .contact {
    height: 110vh;
    background-image: url('../Img/Contact.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ContactHeading {
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
    margin-top: 150px;
    font-weight: normal;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
  }
  
  .contactSubtitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    text-align: center;
    padding-right: 30%;
    padding-left: 15%;
    padding-bottom: 50%;
  
  }

  .mb-3{
    margin-bottom: 0.0%!important;
  
  
  }
  
  .form-control {
    width: 100%; /* Increase the width of the text fields */
    margin-bottom: 1px;
    border-radius: 20px;
    background-color: #84A5C2;
    padding-right: 200px;
  }

  /* Add styles for error messages */
.error{
  color: red; /* Set the text color to red */
  font-size: 0.875rem; /* Adjust the font size as needed */
  margin-top: 4px; /* Add a little margin to separate the message from the input field */
 
}

/* You can customize these styles further based on your design preferences */
  .Send-Button{
    background-color: #143558;
    color: #fff;
    width: 20%;
    border-radius: 20px;
    margin-left: 160px;
    margin-bottom: 10px;
    
  }
  
  .Send-Button:hover {
    background-color: #84A5C2;
  }
  
  
  .social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 30px;
  
  }
  
  .social-media-links img {
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }
  
  .contact hr {
    border-top: 3px solid #164466;
    margin: 20px;
    width: 25%;
   
  }  


 

  .footer-copyright {
    font-size: 12px;
    color: #666;
    padding-bottom: 20%;
    
  }
  
  
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .ContactHeading {
      font-size: 32px;
    }
  
    .contactSubtitle {
      font-size: 16px;
      margin-bottom: 15px;
    }
  
    .contactForm .form-control {
      margin-bottom: 8px;
     
    }

    .Send-Button{
      margin-right: 117px;
    }
  }
  