*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.projects{
    height: 100vh;
    background-image: url('../Img/Projects.jpg');
    background-size: cover; 
}

.Projectheading{
   font-family: 'Share Tech Mono', monospace;
   font-size: 36px;
   font-weight: bold;
   text-align: center;
   padding-top: 100px;
}

.projects p{
   font-family: 'Fira Sans Extra Condensed', sans-serif;
   text-align: center;
   font-weight: normal;
   font-size: 22px;
   margin-bottom: 10px;
}

.project-content-container {
   margin-bottom: 200px;
 }
 
 .Project-card {
   border: 1px solid #7db9f1;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
   box-shadow: 0 2px 4px rgba(28, 141, 247, 0.904);
 }
 
 .Project-card .card-img-overlay {
   background-color: rgba(79, 181, 248, 0.6);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 5;
   transform: scale(0.9); 
   transition: opacity 0.5s ease;
 }
 
 .Project-card:hover .card-img-overlay {
   opacity: 50%;
 }
 
 .Project-card .text {
   color: #042938;
   font-weight: bold;
   text-align: center;
   margin-top: 10px;
 }
 

 /* Responsive styles for small screens */
 @media (max-width: 768px) {
   .Project-card {
     margin-bottom: 20px;
   }
 }