*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

.projects{
    height: 100vh;
    background-image: url('../Img/Projects.jpg');
    background-size: cover; 
}

.Projectheading{
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 8% 8rem;
}

.project-content-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: enter;
    gap: 5rem;
    margin: 5rem 8rem;
}
 .project-content-container {
    position: relative;
    border-radius: 2rem;
    height: 35vh;
    width: 50vh;
    box-shadow:  0 01rem var( #4e4e4e00);
    overflow: hidden;
    display: flex;
    justify-content: center;
 }

    .projects-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #4e4e4e00);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffff;
    padding: 0 1rem;
    transform: translateY(100%);
    transition: .5s ease;
    }

 .projects-box img{
    width: 100%;
    transition: .5s ease;
    object-fit: cover; 
 }

 .projects-box:hover img{
    transform: scaale(1.1);
 }

 .projects-box.project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(#4e4e4e00);
    padding: 0 1rem;
    transform: translateY(100%);
    transition: .5s ease;
 }

 .projects-box.project-layer.boxHeading{
    position: relative;
    top: -35px;
    font-size: 30px;
 }

 .projects-box.project-layer #link{
    position: relative;
    top:-30px;
 }


 .projects-box:hover.project-layer{
    transform:translateY(0);
 }